#title {
			text-align: center;
			color: 72FF2E; 
			font-weight: 30;
			font-size: 100;
			border-style: solid;
    		
		}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}